nav.navbar.navbar-default.navbar-fixed-top(role="navigation")#top-navbar
	div.navbar-header
		button(class="btn btn-sucess navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
			span.icon-bar
			span.icon-bar
			span.icon-bar
		p.navbar-brand
	div.navbar-collapse.collapse
		ul.nav.nav-justified#nav_list
			li
				a(href="/people")
					strong Home
			li
				a(href="/wall")
					strong The Wall
			li
				a(href="/performance")
					strong System Analysis
			li
				a(href="/memory")
					strong Memory
			li
				a(href="/search")
					strong Search
			li
				a(href="/map")
					strong Map
			li
				a(href="/logout")
					strong Logout
			
